<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - ImageIguana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="background-color: #f7f7f7; color: #333;">
    <div class="container my-5 text-center">
        <h1 style="color: #dc3545;">Error!</h1>
        <p>We encountered an issue processing your request. Possible reasons include:</p>
        <ul style="list-style-type: none; padding-left: 0;">
            <li>❌ You might not have uploaded any image.</li>
            <li>❌ The file format is not supported.</li>
            <li>❌ The file might be too large.</li>
            <li>❌ The image could be corrupted.</li>
        </ul>
        <p>Click below to return to the home page:</p>
        <a href="/" class="btn btn-primary">Return to Home Page</a>
    </div>
</body>

</html>
