{% extends "layout.html" %}

{% block content %}

<div class="container my-4">

    <!-- Flash messages - KEEP THIS BLOCK, it's correct -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="fs-3 text">ImageIguana - Edit your Image online!</h1>

    <form action="/edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label my-2">Upload an image to edit</label>
            <input class="form-control" type="file" name="file" id="formFile">
        </div>

        <!-- Dropdown for Format Conversions -->
        <div class="form-floating mb-3">
            <select name="format_conversion" class="form-select" id="formatConversionSelect"
                aria-label="Format Conversion Select">
                <option selected>Choose format conversion</option>
                <option value="cpng">Convert to PNG</option>
                <option value="cjpg">Convert to JPG</option>
                <option value="cjpeg">Convert to JPEG</option>
                <option value="cwebp">Convert to WEBP</option>
            </select>
            <label for="formatConversionSelect">Select Format Conversion</label>
        </div>

        <!-- Dropdown for Image Processing -->
        <div class="form-floating mb-3">
            <select name="image_processing" class="form-select" id="imageProcessingSelect"
                aria-label="Image Processing Select">
                <option selected>Choose image processing option</option>
                <option value="cgray">Convert to Grayscale</option>
                <option value="histeq">B&W - Contrast + Grain</option>
                <option value="blur">Blur Image</option>
                <option value="canny">Edge Image</option>
                <option value="rotate">Rotate Clockwise</option>
                <option value="sharpen">Sharpen Image</option>
            </select>
            <label for="imageProcessingSelect">Select Image Processing Option</label>
        </div>

        <button type="submit" class="btn btn-success my-4">Submit</button>
    </form>
</div>
{% endblock %}